@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }


  @keyframes rotateBackground {
    0% {
      transform: rotate(20deg) scale(1.05);
    }
    50% {
      transform: rotate(-20deg) scale(1.05);
    }
    100% {
      transform: rotate(20deg) scale(1.05);
    }
}
  
.hero-background {
    animation: rotateBackground 10s infinite ease-in-out;
}
